/JavaApplication2/nbproject/private/
/ComputeArea/nbproject/private/
/ComputeArea/build/
/April23_3rdClass/nbproject/private/
/April23_3rdClass/build/
/ShowCurrentTime/nbproject/private/
/ShowCurrentTime/build/
/Selection59/nbproject/private/
/Selection59/build/
/GradeSheet/nbproject/private/
/GradeSheet/build/
/DayName/nbproject/private/
/DayName/build/
/LeapYearCalculation/nbproject/private/
/LeapYearCalculation/build/
/MathematicalFunction/nbproject/private/
/TestString59/nbproject/private/
/TestString59/build/
/TestStringFacebook/nbproject/private/
/TestStringFacebook/build/
/SmallTestName/nbproject/private/
/SmallTestName/build/
/WhileLoopApril27/nbproject/private/
/WhileLoopApril27/build/
/GuessNumber/nbproject/private/
/GuessNumber/build/
/GuessNumberDoWhile/nbproject/private/
/GuessNumberDoWhile/build/
/FactorialForLoop/nbproject/private/
/FactorialForLoop/build/
/PrimeNumberForLoop/nbproject/private/
/PrimeNumberForLoop/build/
/PrimeListForLoop/nbproject/private/
/PrimeListForLoop/build/
