/JavaApplication2/nbproject/private/
/ComputeArea/nbproject/private/
/ComputeArea/build/
/April23_3rdClass/nbproject/private/
/April23_3rdClass/build/
/ShowCurrentTime/nbproject/private/
/ShowCurrentTime/build/
/Selection59/nbproject/private/
/Selection59/build/
/GradeSheet/nbproject/private/
/GradeSheet/build/
/PalindromeWord/nbproject/private/
/PalindromeWord/build/
/RandomPassword/nbproject/private/
/RandomPassword/build/
/PrimeumberListArrayMethod/nbproject/private/
/PrimeumberListArrayMethod/build/
/SphereProblem01/nbproject/private/
/SphereProblem01/build/
/MidMonthlyEvidencePractice01/nbproject/private/
/MidMonthlyEvidencePractice01/build/
